*{
    margin: 0;
    padding: 0;
    /* 去列表前的点 */
    list-style: none;
    /* 去a标签属性 */
    text-decoration: none;  
}

html,body{
    width: 100%;
    height: 1000px;
    background-color: #f4f4f4;
}
/* 导航条 */
.warpper .top-nav-wrap{
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
}
.warpper .top-nav-wrap .top-nav{
    width: 1190px;
    height: 35px;
    /* border: 1px solid black; */
    margin: 0px auto;   
}
.warpper .top-nav-wrap .top-nav .top-nav-l{
    float: left;
}
.warpper .top-nav-wrap .top-nav .top-nav-r{
    float: right;
}
.warpper .top-nav-wrap .top-nav li{
    float: left;
    margin-right: 7px;
}
.warpper .top-nav-wrap .top-nav li a{
    color: #6c6c6c;
    font-size: 12px;
    line-height: 35px;
    padding:0 6px;
}
.warpper .top-nav-wrap .top-nav li .china-span{
    color: #3c3c3c;
    font-size: 12px;
    line-height: 35px;
    padding:0 6px;
}
.warpper .top-nav-wrap .top-nav li a:hover,
.warpper .top-nav-wrap .top-nav li .login{
    color:#f40;
}
.warpper .top-nav-wrap .top-nav .cutOff span{
    color: #ddd;
    line-height: 35px;
}
.warpper .top-nav-wrap .top-nav .bgPic{
    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align: middle;
    background-size: 100% 100%;
    /* border: 1px solid black; */
}
.warpper .top-nav-wrap .top-nav .xsjPic{
    background-image: url('img/xsj.png');
}
.warpper .top-nav-wrap .top-nav .shopCarPic{
    background-image: url('img/gwc.png');
    width: 12px;
    height: 14px;
}
.warpper .top-nav-wrap .top-nav .likePic{
    background-image: url('img/star.png');
    width: 12px;
    height: 12px;
}
.warpper .top-nav-wrap .top-nav .webNavPic{
    background-image: url('img/dh.png');
    width: 8px;
    height: 8px;
}

/* 搜索区域 */
.warpper .search-wrap{
    width: 100%;
    height: 97px;
    background-color: white;
    /* border: 1px solid black; */
    padding: 12px 0;
}
.warpper .search-wrap .search-con{
    width: 1190px;
    height: 88px;
    /* border: 1px solid black; */
    margin: 0 auto;
}
/* logo区域 */
.warpper .search-wrap .search-con .logo-box{
    width: 190px;
    height: 86  px;
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
    position: relative;  
}
.warpper .search-wrap .search-con .logo-box img{
    width: 100%;
    height: 100%;   
}
/* 搜索区域中间部分 */
.warpper .search-wrap .search-con .search-box{
    width: 630px;
    height: 80px;
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: middle;
    padding-left: 60px;
}
/* 搜索框 */
.warpper .search-wrap .search-con .search-box .search-bd{
    width: 630px;
    height: 62px;
    /* border: 1px solid black; */
}
.warpper .search-wrap .search-con .search-box .search-bd li{
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    color:#f40;
    margin-right: 4px;
    cursor: pointer;
}
.warpper .search-wrap .search-con .search-box .search-bd li:hover{
    background-color: #ffeee5;
    color: #ff5400;
}
.warpper .search-wrap .search-con .search-box .search-bd .select{
    /* 背景渐变色 */
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color: #fff;
    /* 字体粗细 */
    font-weight: 700;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.warpper .search-wrap .search-con .search-box .search-bd .search-tab{
    width: 613px;
    height: 22px;
    margin-left: 17px;
    /* border: 1px solid black; */
}
.warpper .search-wrap .search-con .search-box .search-bd .search-panel{
    width: 630px;
    height: 40px;
    position: relative;
    /* border: 1px solid black; */
}
.warpper .search-wrap .search-con .search-box .search-bd .search-panel .btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 74px;
    height: 40px;
    z-index: 100;
}
.warpper .search-wrap .search-con .search-box .search-bd .search-panel .btn button{
    border: none;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* 改变鼠标样式小手式 */
    cursor: pointer;
}
.warpper .search-wrap .search-con .search-box .search-bd .search-panel .search-inp-box{
    width: 554px;
    height: 36px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
}
.warpper .search-wrap .search-con .search-box .search-bd .search-panel .search-inp{
    width: 472px;
    height: 24px;
    overflow: hidden;
}
.warpper .search-wrap .search-con .search-box .search-bd .search-panel .search-inp input{
    width: 472px;
    height: 24px;
    border: none;
    outline: 0;
    /* 缩进 */
    text-indent: 10px;
    padding: 6px 16px;
    color: #424242;
}
.warpper .search-wrap .search-con .search-box .search-bd .search-panel .sosuo,
.warpper .search-wrap .search-con .search-box .search-bd .search-panel .camera{
    display: inline-block;
    position: absolute;
}
.warpper .search-wrap .search-con .search-panel .sosuo{
    background: url('img/fdj.png') no-repeat;
    width: 14px;
    height: 14px;
    top: 11px;
    left: 12px;
    background-size: 100% 100%;
}
.warpper .search-wrap .search-con .search-panel .camera{
    
    width: 24px;
    height: 22px;
    top: 11px;
    right: 90px;
    background: url('img/camera.png') no-repeat;
    background-size: 100% 100%;
}
/* 产品文字区域 */
.warpper .search-wrap .search-con .search-box .search-ft{
    width: 589px;
    height: 18px;
    /* border: 1px solid black; */
    display: inline-block;
}
.warpper .search-wrap .search-con .search-box .search-ft ul li{
    float:left;   
}
.warpper .search-wrap .search-con .search-box .search-ft ul li a{
    font-size: 12px;
    color: #666;
    margin-right: 8px;
}
.warpper .search-wrap .search-con .search-box .search-ft ul li a:hover,
.warpper .search-wrap .search-con .search-box .search-ft ul .select a{
    color:#f40;
}
.warpper .search-wrap .search-con .search-box .more{
    float: right;
    font-size: 12px;
    color: #666;
    line-height: 20px;
}
.warpper .search-wrap .search-con .search-box .more:hover{
    color:#f40;
}
/* 二维码区域 */
.warpper .search-wrap .search-con .code-box{
    width: 76px;
    height: 88px;
    text-align: center;
    border: 1px solid #eee;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 120px;
}
.warpper .search-wrap .search-con .code-box .p-tb{
    
    color: #f40;
    font-size: 12px;
    line-height: 20px;
    
    margin: 4px 0;
    width: 74px;
    /* border: 1px solid black; */

}
.warpper .search-wrap .search-con .code-box .code{
    display: inline-block;
    background: url('img/ewm.png') no-repeat;
    width: 62px;
    height: 62px;
    background-size: 100% 100%;
    /* margin-left: 7px; */
}
.warpper .search-wrap .search-con .code-box .close{
    position: absolute;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #eee;
    left: -16px;
    text-align: center;
    line-height: 14px;
    color: #ddd;
    font-size: 14px;
}
/* 中间导航条 */
.warpper .scrren-nav-wrap {
    width: auto;
    height: 30px;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.warpper .scrren-nav-con{
    width: 1190px;
    height: 30px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.warpper .scrren-nav-con h2{
    float: left;
    width: 190px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #f50;
}
.warpper .scrren-nav-con ul{
    
    font-size: 15px;
    float: left;
}
.warpper .scrren-nav-con .market{
    font-size: 16px; 
}
.warpper .scrren-nav-con ul li{
    height: 30px;
    line-height: 30px;
    float: left; 
    color: #fff;
    margin-left: 7px;
}
.warpper .scrren-nav-con ul li a{
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding:0 5px;
}
/* 中间导航条结束 */
/* 主体部分 */
.warpper .scrrren-box-warp{
    width: 1190px;
    height: 632px;
    margin:0 auto;
    /* border: 1px solid black; */
}
.warpper .scrrren-box-warp .main{
    width: 900px;
    height: 632px;
    /* border: 1px solid black; */
    display: inline-block;
}

.warpper .scrrren-box-warp .main .main-inner{
    width: 900px;
    height: 522px;
    /* border: 1px solid black; */
    display: inline-block;
}
/* 左侧导航栏 */
.warpper .scrrren-box-warp .main .main-inner .inner-left{
    width: 190px;
    height: 522px;
    /* border: 1px solid blue; */
    vertical-align: top;
    float: left;
}
.warpper .scrrren-box-warp .main .main-inner .inner-left ul{
    width: 188px;
    height: 512;
    border: 1px solid #f50;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
}
.warpper .scrrren-box-warp .main .main-inner .inner-left ul li{
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
}
.warpper .scrrren-box-warp .main .main-inner .inner-left ul li:hover{
    background-color: #ffe4DC;
}
.warpper .scrrren-box-warp .main .main-inner .inner-left ul li a{
    color: #666;
}
.warpper .scrrren-box-warp .main .main-inner .inner-left ul li a:hover{
    color: #f40;
}
.warpper .scrrren-box-warp .main .main-inner .inner-left ul li span{
    position: absolute;
    right: 10px;
    color: #888;
}
.warpper .scrrren-box-warp .main .main-inner .inner-left ul li span:hover{
    color: #f40;
}

/* 中间部分1 */
.warpper .scrrren-box-warp .main .main-inner .inner-con{
    width: 520px;
    height: 512px;
    /* border: 1px solid red; */
    /* 上边线对齐 */
    vertical-align: top;
    margin-left:10px;
    margin-top: 10px;
    float: left;
}
/* .warpper .scrrren-box-warp .main .main-inner .inner-con .pic-box{
    position: relative;
    width: 520px;
    height: 280px;   
}
.warpper .scrrren-box-warp .main .main-inner .inner-con .pic-box ul{
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 13px;
    background-color: rgba(255,255,255,.3);
    border-radius: 10px;
}
.warpper .scrrren-box-warp .main .main-inner .inner-con .pic-box ul li{
    float: left;
    margin: 3px;
}
.warpper .scrrren-box-warp .main .main-inner .inner-con .pic-box ul li a{
    background-color:#fff;
    display: block;
    width: 8px;
    height: 0;
    padding-top: 8px;
    border-radius: 50%;
}
.warpper .scrrren-box-warp .main .main-inner .inner-con .pic-box ul li .select{
    background-color:#f40;
}
.warpper .scrrren-box-warp .main .main-inner .inner-con .inner-mall{
    width: 520px;
    height: 230px;
    background-color: red; 
    vertical-align: top;
} */
.warpper .scrrren-box-warp .main .main-inner .inner-con .inner-mall .head{
    width: 520px;
    height: 18px;
    padding-top: 11px;
    /* background-color: red; */
    border-bottom: 3px solid #ff1648;
}
/* 理想生活上天猫 */
.warpper .scrrren-box-warp .main .main-inner .inner-con .inner-mall .tm{
    font-size: 12px;
    color: #666;
    position: relative;
    /* margin-left: 136px; */
}
.warpper .scrrren-box-warp .main .main-inner .inner-con .inner-mall .tm-pic{
    width: 136px;
    height: 19px;
    display: inline-block;
    background-image: url('img/tm.png');
    background-size: 100% 100%;
    vertical-align: bottom;
}

/* 中间部分2今日热卖 */
.warpper .scrrren-box-warp .main .main-inner .inner-middle{
    width: 160px;
    height: 512px;
    /* border: 1px solid green; */
    vertical-align: top;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.warpper .scrrren-box-warp .main .main-inner .inner-middle h5{
    font-size: 12px;
    font-weight: 400;
    background: #f1f1f1;
    color: #a1a1a1;
    line-height: 24px;
    padding-top: 6px;
}
/* 淘宝头条 */
.warpper .scrrren-box-warp .main .main-bottom{
    width: 890px;
    height: 100px;
}
.warpper .scrrren-box-warp .main .main-bottom .bottom-con{
    width: 856px;
    height: 73px;
    margin-top: 10px;
    padding: 14px 14px 12px 20px;
    background: #fff;
    position: relative;
}

.warpper .scrrren-box-warp .main .main-bottom .bottom-con .log{
    float: left;       
}
.warpper .scrrren-box-warp .main .main-bottom .bottom-con .tbttcon{
    width: 675px;
    height: 73px;
    position: absolute;
    left: 200px;
}
.warpper .scrrren-box-warp .main .main-bottom .bottom-con .tbttcon img{
    float: left;
    width: 130px;
    height: 73px;
}
.warpper .scrrren-box-warp .main .main-bottom .bottom-con .tbttcon h4{
    color: #333;
    font-size: 16px;
    font-weight: 500;
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
    margin-left: 144px;
}
.warpper .scrrren-box-warp .main .main-bottom .bottom-con .tbttcon h4:hover{
    color: #f40;
}
.warpper .scrrren-box-warp .main .main-bottom .bottom-con .tbttcon p{
    font-size: 14px;
    color: #999;
    height: 36px;
    overflow: hidden;
    margin-left: 144px;
}

.warpper .scrrren-box-warp .col-right{
    width: 290px;
    height: 622px;
    margin-top: 10px;
    float: right;
    background-color: #fff;
}
.warpper .scrrren-box-warp .col-right .member{
    width: 290px;
    height: 132px;
    padding: 3px 0 10px 0;
    background: url('img/bg.png') no-repeat;
    background-size: 100% 100%;
}
.warpper .scrrren-box-warp .col-right .member .member-bd{
    width: 290px;
    height: 91px;
}
.warpper .scrrren-box-warp .col-right .member .member-bd .tx{
    width: 290px;
    height: 56px;
    text-align: center;
}
.warpper .scrrren-box-warp .col-right .member .member-bd .tx a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.warpper .scrrren-box-warp .col-right .member .member-bd .tx img{
    border-radius: 50%;
}
.warpper .scrrren-box-warp .col-right .member .member-bd .hello{
    display: block;
    margin: 0 auto;
    width: 74px;
    height: 17px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}
.warpper .scrrren-box-warp .col-right .member .member-bd p{
    width: 290px;
    height: 17px;    
    line-height: 17px;
    text-align: center;
}
.warpper .scrrren-box-warp .col-right .member .member-bd p a{
    display: inline-block;
    font-size: 12px;
    color: #f40;
    border-radius: 9px;
    background: #ffe4db;
    margin-left: 2px;
    padding: 0 10px 0 20px;
    position: relative;
}
.warpper .scrrren-box-warp .col-right .member .member-bd .pic{
    left: 0px;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('img/pics.png') no-repeat;
    vertical-align: middle;
}
.warpper .scrrren-box-warp .col-right .member .member-bd .icon .pic{
    background-position: 0 -572.5px;
}
.warpper .scrrren-box-warp .col-right .member .member-bd .club .pic{
    background-position: 0 -528px;
}

.warpper .scrrren-box-warp .col-right .member .member-ft{
    width: 290px;
    height: 40px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 2px;
    padding-left: 15px;
}
.warpper .scrrren-box-warp .col-right .member .member-ft .ft-logout{
    height: 25px;
    margin-top: 8px;
}
.warpper .scrrren-box-warp .col-right .member .member-ft a{
    display: inline-block;
    width: 74px;
    height: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-image: -webkit-linear-gradient(left,#ff5000 0,#ff6f06 100%);
    text-align: center;
    line-height: 25px;
    margin-right: 7px;
    float: left;
    border-radius: 4px;
}
.warpper .scrrren-box-warp .col-right .member .member-ft .ft-logout .login{
    width: 92px;
}
/* 举报专区 */
.warpper .scrrren-box-warp .col-right .message{
    width: 290px;
    height: 26px;
}
.warpper .scrrren-box-warp .col-right .message a{
    position: relative;
    padding-left: 82px;
    color: #f40;
    display: block;
    height: 26px;
    line-height: 26px;
    background: #ffe4dd;
    font-size: 12px;
}
.warpper .scrrren-box-warp .col-right .message a span{
    position: absolute;
    right: 52px;
    top: 9px;
    line-height: 0;
    margin-left: 32px;
    /* 右三角实现 */
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #f40;
}
/* 公告部分 */
.warpper .scrrren-box-warp .col-right .notice{
        width: 290px;
        height: 98px;
        padding-top: 10px;
}
.warpper .scrrren-box-warp .col-right .notice a:hover{
    color: #f40;
}
.warpper .scrrren-box-warp .col-right .notice .title{
    width: 290px;
    height: 24px;
    padding: 0 8px;
    margin-top: 4px;
    text-align: center;
}
.warpper .scrrren-box-warp .col-right .notice li{
    float: left;
}
.warpper .scrrren-box-warp .col-right .notice .title li{
    line-height: 20px;
    width: 32px;
    text-align: center;
    margin: 0 11px;
}
.warpper .scrrren-box-warp .col-right .notice .title .select{
    padding: 0;
    font-weight: 700;
    border-bottom: 2px solid #F40;
}
.warpper .scrrren-box-warp .col-right .notice li a{
    color: #3C3C3C;
    font-size: 12px;
}
.warpper .scrrren-box-warp .col-right .notice .con{
    width: 290px;
    height: 65px;
}
.warpper .scrrren-box-warp .col-right .notice .con ul{
   
    padding-top: 9px;
    padding-bottom: 6px;
    margin: 0 12px;
    overflow: hidden;
}

.warpper .scrrren-box-warp .col-right .notice .con li{
    line-height: 25px;
    height: 25px;
    width: 130px;
    
}
.warpper .scrrren-box-warp .col-right .notice .con .select{
    width: 260px;
    overflow: hidden;
}
.warpper .scrrren-box-warp .col-right .notice .con .select a{
    color: #f40;
}
.warpper .scrrren-box-warp .col-right .moudle{
    width: 290px;
    height: 232px;
    border-top: 1px solid #f4f4f4;
}
.warpper .scrrren-box-warp .col-right .moudle li{
    float: left;
    width: 71px;
    height: 75px;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
.warpper .scrrren-box-warp .col-right .moudle li a{
    display: block;
    text-align: center;
    font-size: 12px;
    color: #3C3C3C;
    line-height: 24px;
}
.warpper .scrrren-box-warp .col-right .moudle li a span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    background: url('img/pics.png') 100% 100% no-repeat;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic2{
    background-position: 0 -85px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic3{
    background-position: 0 -44px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic4{
    background-position: 0 -132px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic5{
    background-position: 0 -176px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic6{
    background-position: 0 -220px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic7{
    background-position: 0 -264px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic8{
    background-position: 0 -308px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic9{
    background-position: 0 -352px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic10{
    background-position: 0 -396px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic11{
    background-position: 0 -440px;
}
.warpper .scrrren-box-warp .col-right .moudle li a .pic12{
    background-position: 0 -484px;
}

.warpper .scrrren-box-warp .col-right .app{
    width: 290px;
    height: 110px;   
}
.warpper .scrrren-box-warp .col-right .app h3{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.warpper .scrrren-box-warp .col-right .app h3 a{
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #3c3c3c;
}
.warpper .scrrren-box-warp .col-right .app ul{
    height: 84px;
    padding-left: 23px;
}
.warpper .scrrren-box-warp .col-right .app li{
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}
.warpper .scrrren-box-warp .col-right .app li img{
    width: 32px;
    height: 32px;
}
.warpper .tbh-fixedtool{
    min-height: 0;
    background-color: #FFF;
    width: 1318px;
}
/* 侧边栏 */
.warpper .tbh-fixedtool .fixedtool{
    position: fixed;
    top: 200px;
    display: block;
    transition: none;
    right: 50%;
    width: 50px;
    text-align: center;
    margin-right: -655px;

}
.warpper .tbh-fixedtool .fixedtool a {
    display: block;
    width: 34px;
    height: 44px;
    position: relative;
    text-decoration: none;
    padding: 6px 8px 0;
    font-size: 12px;
    line-height: 22px;
    background: #fff;
    color: #3c3c3c;
}
.warpper .tbh-fixedtool .fixedtool a:hover{
    font-weight: 700;    
    color: #fff;
    background-image: linear-gradient(135deg,#ff971b,#ff5000);
}

.warpper .tbh-fixedtool .fixedtool .tool1{
    font-weight: 700;    
    color: #fff;
    background-image: linear-gradient(135deg,#ff971b,#ff5000);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.warpper .tbh-fixedtool .fixedtool .tool2{
    color: #f05;
}
.warpper .tbh-fixedtool .fixedtool .tool3{
    color: #8d7afb;
}
.warpper .tbh-fixedtool .fixedtool .tool4{
    color: #A8C001;
}
.warpper .tbh-fixedtool .fixedtool .tool5{
    color: #f40;
}
.warpper .tbh-fixedtool .fixedtool .tool7{
    line-height: 40px;
}
.warpper .tbh-fixedtool .fixedtool .tool8{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}


/* 轮播图插件部分 */
#swiper{
    position: relative;
    width: 520px;
    height: 280px;
    /* margin: 100px auto 0; */
    overflow: hidden;
    border: 3px solid #000;
}
#swiper .img-box{
    position: absolute;
    top: 0;
    left: 0px;
    width: 3120px;
    height: 280px;
}
/* #swiper .img-box img{
    width: 1040px;
    height: 560px;
} */
#swiper .img-box li{
    display: inline-block;
}
#swiper .btn{
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 35px;
    background-color:rgba(0, 0, 0, 0.5);
    
}
#swiper .btn .prev{
    left: 0;
    border-radius: 0 50% 50% 0;
}
#swiper .btn .next{
    right: 0;
    border-radius: 50% 0 0 50%;
}
#swiper .btn a span{
    display: inline-block;
    width: 10px;
    height: 20px;
    margin-top: 5px;
    margin-left: 13px;
    /* background: red;     */
    background: url('./img/taobao.png');
}
#swiper .btn .prev span{
   background-position: -200px -94px; 
   
}
#swiper .btn .next span{
   background-position: -200px -114px; 
}
#swiper .order{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
#swiper .order ul{
    display:inline-block;
    background-color: rgba(255, 0, 0,0.5);
    border-radius: 8px;
}
#swiper .order ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 5px;
}
#swiper .order ul li.active{
    background: #f00;
}   